/* Move main content within center of page, vertically and horizontally */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}