@import "tailwindcss";

@import "./base.css" layer(components);
@import "./blog.css" layer(components);

@layer base {
  :root {
    --font-sans:
      "Nunito Sans", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";

    --shadow-search:
      0 -1px 27px 0 rgba(0, 0, 0, 0.04), 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    font-family: var(--font-sans);
    @apply dark:bg-gray-900;
    @apply dark:text-gray-200;
  }
}

@layer utilities {
  .shadow-search {
    box-shadow: var(--shadow-search);
  }
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: transparent;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply bg-white;
  @apply dark:bg-gray-800;
  @apply dark:text-white;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply dark:text-gray-200;
  @apply dark:text-shadow-white;
}
