---
import "@/styles/global.css";
import githubIcon from "@/assets/github.svg";
import linkedinIcon from "@/assets/linkedin.svg";
import xIcon from "@/assets/x.svg";
import wakeupgetupIcon from "@/assets/wakeupgetup/icon.png";
import { Image } from "astro:assets";
import Layout from "@/layouts/MainLayout.astro";
import Link from "@/components/HomeLink.astro";
---

<Layout>
  <header class="flex flex-col items-center gap-3 text-center">
    <Image
      class="h-24 w-24 rounded-full border-2 border-gray-200 object-cover"
      src="https://avatars.githubusercontent.com/u/49914607?v=4"
      alt="GitHub profile"
      width="96"
      height="96"
    />
    <h1 class="m-0 text-2xl leading-tight font-bold tracking-tight">
      Daniel Haven
    </h1>
    <p class="m-0 text-sm text-gray-500">Full Stack Web Dev</p>
  </header>

  <section class="flex w-full flex-col gap-3 text-center lg:w-96">
    <h2 class="text-lg font-bold">About Me</h2>
    <p class="text-sm text-gray-500">
      I am a full stack web developer with a passion for building web
      applications that are both functional and aesthetically pleasing.
    </p>
  </section>

  <section class="flex w-full flex-col gap-3 lg:w-96">
    <h2 class="text-lg font-bold">Links</h2>

    <div class="flex flex-col gap-3">
      <Link
        href="https://github.com/danielh-official"
        color="#24292e"
        icon={githubIcon}
        alt="danielh-official's GitHub profile"
        label="danielh-official - GitHub"
        target="_blank"
        rel="noopener noreferrer"
      />
      <Link
        href="https://www.linkedin.com/in/danielh0/"
        color="#0A66C2"
        icon={linkedinIcon}
        alt="danielh0's LinkedIn profile"
        label="danielh0 - LinkedIn"
        target="_blank"
        rel="noopener noreferrer"
      />
      <Link
        href="https://x.com/danielhaven0"
        color="#000000"
        icon={xIcon}
        alt="danielhaven0's X (Twitter) profile"
        label="danielhaven0 - X (Twitter)"
        target="_blank"
        rel="noopener noreferrer"
      />
    </div>
  </section>

  <section class="flex w-full flex-col gap-3 lg:w-96">
    <h2 class="text-lg font-bold">Apps</h2>
    <p class="text-sm text-gray-500">
      Here are some of the apps I've worked on.
    </p>
    <Link
      href="/wakeupgetup"
      color="#24292e"
      icon={wakeupgetupIcon}
      alt="Wake Up, Get Up"
      label="Wake Up, Get Up"
      target="_blank"
      rel="noopener noreferrer"
    />
  </section>
</Layout>
